<div class="home">
<form name="myForm" ng-submit="validate()" novalidate>

    <div class="onFrom">    
        <label>Adresse électronique : </label>
        <input name="mail" type="email" required />
    </div>

    <div class="onForm">   
        <label>Mot de passe : </label>
        <input name="password" type="password" required/>
    </div>

    <input type="submit" value="Connexion"  />
</form>

</div>